.home{
    background:   url(../../assets/l-cup1.PNG);
   min-height: calc(100vh + var(--header-height));
    background-repeat: no-repeat;
    display: flex;
    background-position: center;
    background-size: cover;
    align-items: center;
   

    
}

.home__container {
    width: 100%;
}

.home__content {
    max-width: 660px;
}

.home__subtitle,
.home__description {
    color: var(--title-color);
}

.home__subtitle{
    font-family: var(--second-font);
    font-size: var(--h1-font-size);
    font-weight: var(--weight-500);
}

.home__title{
    font-size: var(--biggest-font-size);
     font-weight: var(--weight-700);
     margin-block: 1.25rem;
}
.home__description {
    margin-bottom: 2.25rem;
    
}

.home__btns {
    display: flex;
    column-gap: 2rem;
}
.home__btn {
    background-color: transparent;

}
.home__btn:hover{
    background-color: var(--first-color);
    color: var(--title-color);
}